@font-face {
	font-family: "gotham";
	src: url('../fonts/gotham.otf');
}

@keyframes notif {
  from {opacity: 0;}
  to {opacity: 1;}
}

.notif {
	color: #FFF;
	padding: 20px;
	border-radius: 5px;
	animation-name: notif;
	animation-duration: 6s;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	z-index: 9999999;
	position: absolute;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);

}

.sukses { background-color: teal; }

.gagal { background-color: #cf000f; }

* { margin: 0; padding: 0; font-family: "gotham"; }

a { text-decoration: none; }

/* Body */
body {
	/*background: linear-gradient(to right, #348F50, #56B4D3)*/
	background: linear-gradient(to right, #bbb, #888);
}

.wrapper {
	top: 20px;
	background-color: #FFF;
	width: 93%;
	min-height: 600px;
	margin: auto;
	border-radius: 5px;
	position: relative;
	box-shadow: 6px 6px 15px rgba(0, 0, 0, .6);
}

.wrapper .heading {
	letter-spacing: 3px;
	text-transform: uppercase;
}

.menu {
	position: absolute;
	padding: 30px;
	width: 20%;
	bottom: 0; top: 0;
	box-shadow: 4px 2px 5px rgba(0, 0, 0, .3);
	color: #FFF;
	background: linear-gradient(to bottom, teal, #57b894);
	z-index: 2;
}

.menu ul {
	margin-top: 100px;
	list-style-type: none;
}

.menu ul li {
	padding: 20px;
	background: linear-gradient(to right, #EB3349, #fc6767);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.menu ul li:hover {
	cursor: pointer;
	background: linear-gradient(to right, salmon, #fc6767);
}

.menu ul li a {
	color: #FFF;
}

.content {
	position: absolute;
	z-index: 1;
	bottom: 0; top: 0;
	padding: 20px;
	width: 75%;
	right: 0;
	/*background-color: rgba(0, 0, 0, .3);*/
}

.content img {
	width: 50%;
	position: absolute;
	left: 50%; top: 40%;
	transform: translate(-50%, -40%);
}

.content h1 {
	text-align: center;
	position: absolute;
	left: 50%; top: 70%;
	transform: translate(-50%, 70%);
	/*top: 20px;*/
}

.content .h1-notif {
	top: 500px;
}

.form-krs {
	position: absolute;
	top: 20%; left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.form-krs form {
	display: flex;
	flex-flow: row wrap;
  	justify-content: space-between;
  	align-items: center;
}

.form-krs label {
	font-size: 20px;
}

.form-krs select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 15px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-krs button {
	display: block;
	position: absolute;
	bottom: -100px;
	width: 40%;
	left: 50%;
	transform: translate(-50%);
	padding: 20px;
	background-color: teal;
	border: none;
	color: #FFF;
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	font-size: 20px;
}

.form-krs button:hover {
	cursor: pointer;
}